$accent: hsl(25, 97%, 53%);
$font-heading: hsl(0, 0%, 100%);
$font-body: hsl(217, 12%, 63%);
$card: hsl(213, 19%, 18%);
$card-1: hsl(214, 17%, 24%);
$card-2: hsl(212, 21%, 16%); //update for gradient
$card-3: hsl(210, 22%, 11%); //update for gradient
$bg: hsl(216, 12%, 8%);
