@use "../util/" as *;

.btn {
  &__submit {
    background-color: $accent;
    border: none;
    border-radius: 1.563rem;
    width: 100%;
    padding: 0.625rem;
  }

  &__submit:hover {
    background-color: $font-heading;
    cursor: pointer;
  }
}

.ratings {
  @include toFlex(row, 0);
  justify-content: space-between;
  position: relative;
  width: 100%;

  label {
    @include toFlex(row, 0);
    align-items: center;
    background-color: $card-1;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    justify-content: center;
  }

  input {
    position: absolute;
    opacity: 0;
  }

  input:hover + label,
  input:focus + label {
    background-color: $accent;
    cursor: pointer;
  }

  input:checked + label {
    background-color: $font-heading;
  }
}
