@use "../util/" as *;

.btn {
  &__rating {
    background-color: $card-1;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    justify-content: center;
    display: inline-flex;
    align-items: center;
  }

  &__rating:hover {
    background-color: $accent;
    cursor: pointer;
  }

  &__submit {
    background-color: $accent;
    border: none;
    border-radius: 1.563rem;
    width: 100%;
    padding: 0.625rem;
  }

  &__submit:hover {
    background-color: $font-heading;
    cursor: pointer;
  }
}

.rating {
  @include toFlex(row, 0);
  justify-content: space-between;
  margin: 0.938rem 0;
  width: 100%;
}

.after {
  background-color: $font-heading;
}

.clicked {
  background-color: $accent;
}
