@use "../util/" as *;

.card {
  @include toFlex(column, 15px);
  background-color: $card;
  border-radius: 12px;
  margin: auto 8%;
  padding: 25px;
  align-items: flex-start;

  @include breakpoint(medium) {
    margin: auto 20%;
  }
  @include breakpoint(large) {
    margin: auto 30%;
  }
  @include breakpoint(xlarge) {
    margin: auto 38%;
  }
}

.hidden {
  display: none;
}
