@use "../util/" as *;

.card {
  @include toFlex(column, 15px);
  //   background: -moz-linear-gradient(45deg, $card, $card-2, $card-3);
  //   background: linear-gradient(45deg, $card, $card-2, $card-3);
  background-color: $card;
  border-radius: 12px;
  margin: auto 8%;
  padding: 25px;
  align-items: flex-start;
}

.hidden {
  display: none;
}
