@use "../util/" as *;

body {
  color: $font-body;
  font-family: "Overpass", serif;
  font-size: clamp(0.813rem, 4vw, 1.063rem);

  a {
    color: $accent;
  }

  .card {
    h2 {
      color: $font-heading;
    }

    .btn__submit {
      color: $bg;
      font-weight: 700;
      letter-spacing: 0.094rem;
      text-transform: uppercase;
    }

    .ratings {
      input:checked + label,
      input:focus + label,
      input:hover + label {
        color: $bg;
      }
    }

    .rating__info {
      color: $accent;
    }
  }
}
